.about {
  &__title {
    overflow: hidden;

    & span {
      display: inline-block;
    }
  }

  
  &__description {
    max-width: 850px;
    margin-inline: auto;
    display: grid;
    gap: 1.3rem;
    margin-bottom: 2rem;

    & p {
      & span {
        color: $color-purple;
      }

      @include breakpoint(tablet) {
        font-size: 1.125rem;
      }
    }

    &-technologies {
      max-width: 600px;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      & li  {
        background-color: $color-purple;
            color: $color-smoke-text;
            padding: 0.75rem 1.5rem;
            border-radius: 3px 3px 0 0;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              height: 2px;
              width: 100%;
              background-color: darken($color-purple, 30%);
            }
      }
    }
  }

  &__image {
    max-width: 300px;

    @media (min-width: 800px) {
      max-width: 280px;
    }

    & img {
      filter: grayscale(1);
      display: block;
      border-radius: 6px;

      &:hover {
        filter: grayscale(0);
      }
    }
  }
}
